
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

venv/
ENV/
env/
.venv/


.idea/

# 📄 База даних, медіа, тимчасові файли
*.sqlite3
*.db
*.bak
*.tmp
media/
staticfiles/
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.log


htmlcov/
.coverage
.tox/
.pytest_cache/

.DS_Store
Thumbs.db